In [161]:
import pandas as pd
import matplotlib as plt
from functools import reduce

### Load Data

In [45]:
sale_price_data = pd.read_csv('/Users/philglazer/Desktop/zillow_data/Sale_Prices_Zip.csv')

In [46]:
sale_counts_data = pd.read_csv('/Users/philglazer/Desktop/zillow_data/Sale_Counts_Zip.csv')

In [47]:
median_listing_price_data = pd.read_csv('/Users/philglazer/Desktop/zillow_data/Zip_MedianListingPrice_AllHomes.csv',encoding = "ISO-8859-1")

In [48]:
median_listing_price_persqft_data = pd.read_csv('/Users/philglazer/Desktop/zillow_data/Zip_MedianListingPricePerSqft_AllHomes.csv',encoding = "ISO-8859-1")

In [49]:
percent_listings_price_reductions_data = pd.read_csv('/Users/philglazer/Desktop/zillow_data/Zip_PctOfListingsWithPriceReductions_AllHomes.csv',encoding = "ISO-8859-1")

In [50]:
median_percent_price_reductions_data = pd.read_csv('/Users/philglazer/Desktop/zillow_data/Zip_MedianPctOfPriceReduction_AllHomes.csv',encoding = "ISO-8859-1")

In [51]:
monthly_listings_allhomes_data = pd.read_csv('/Users/philglazer/Desktop/zillow_data/MonthlyListings_NSA_AllHomes_Zip.csv',encoding = "ISO-8859-1")

In [52]:
new_monthly_listings_nsa_allhomes_data = pd.read_csv('/Users/philglazer/Desktop/zillow_data/NewMonthlyListings_NSA_AllHomes_Zip.csv',encoding = "ISO-8859-1")

In [53]:
median_daily_listings_nsa_allhomes_data = pd.read_csv('/Users/philglazer/Desktop/zillow_data/MedianDailyListings_NSA_AllHomes_Zip.csv',encoding = "ISO-8859-1")

In [54]:
price_to_rent_ratio_data = pd.read_csv('/Users/philglazer/Desktop/zillow_data/Zip_PriceToRentRatio_AllHomes.csv',encoding = "ISO-8859-1")

#### List of data available

In [55]:
data_sets = [sale_price_data, sale_counts_data, median_listing_price_data, median_listing_price_persqft_data,
            percent_listings_price_reductions_data, median_percent_price_reductions_data, monthly_listings_allhomes_data,
            new_monthly_listings_nsa_allhomes_data, median_daily_listings_nsa_allhomes_data, price_to_rent_ratio_data]

In [127]:
data_sets_dict = {
    'sale_price':sale_price_data, 
    'sale_counts':sale_counts_data,
    'median_listing_price':median_listing_price_data, 
    'median_listing_price_persqft':median_listing_price_persqft_data,
    'percent_listing_price_reductions':percent_listings_price_reductions_data, 
    'median_percent_price_reductions':median_percent_price_reductions_data, 
    'monthly_listings_allhomes':monthly_listings_allhomes_data,
    'new_monthly_listings_nsa':new_monthly_listings_nsa_allhomes_data, 
    'median_daily_listings':median_daily_listings_nsa_allhomes_data, 
    'price_to_rent_ratio':price_to_rent_ratio_data
}

### Helper Functions

In [142]:
# get the row corresponding to a given zipcode from the sale_price_data DataFrame

col_names = ['RegionID','RegionName','StateName','SizeRank','RegionType',
            'City','County','State','Metro','CountyName']

def prepare_df_for_zip(zip_code, data_set):
    data = data_set[data_set['RegionName']==zip_code]
    for c in col_names:
        if c in data.columns:
            data.drop([c],axis=1,inplace=True)
    data = data.transpose()
    data['Date'] = data.index
    return data[data['Date']>='2013-01'] #.add_prefix('hello')

In [168]:
def join_data_available(zip_code, data_sets):
    master_df = pd.DataFrame()
    df_list = []
    for k in data_sets_dict.keys():
        data = prepare_df_for_zip(zip_code, data_sets_dict[k])#.add_prefix(k)
        data.rename(columns={0:k}, inplace=True)
        df_list.append(data)
        
        
    df_final = reduce(lambda left,right: pd.merge(left,right,on='Date'), df_list)
    return df_final
    
    #df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['DATE'],how='outer'), data_frames)

In [169]:
join_data_available(10025, data_sets_dict)

,sale_price,Date,sale_counts,median_listing_price,percent_listing_price_reductions,median_percent_price_reductions,monthly_listings_allhomes,new_monthly_listings_nsa,median_daily_listings,price_to_rent_ratio
0,NaN,2013-01,NaN,799000.0,4.140127,4.904905,304.0,NaN,222.0,19.55
1,NaN,2013-02,NaN,830000.0,3.738318,3.981141,302.0,NaN,234.0,20.29
2,NaN,2013-03,NaN,822500.0,5.820106,3.820002,332.0,NaN,235.0,20.56
3,NaN,2013-04,NaN,835000.0,5.614973,3.338898,332.0,NaN,266.0,20.75
4,NaN,2013-05,NaN,839500.0,5.633803,4.627032,347.0,NaN,259.0,20.35
5,NaN,2013-06,NaN,895000.0,4.307692,4.347826,332.0,NaN,252.0,20.29
6,NaN,2013-07,NaN,899000.0,5.208333,3.537736,298.0,NaN,230.0,21.00
7,NaN,2013-08,NaN,895000.0,2.500000,7.553734,239.0,NaN,194.0,22.01
8,NaN,2013-09,NaN,874900.0,8.823529,4.013423,244.0,NaN,194.0,21.70
9,NaN,2013-10,NaN,874950.0,11.934156,4.388715,262.0,NaN,200.0,21.70
10,NaN,2013-11,NaN,899000.0,7.868852,3.861902,268.0,NaN,204.0,22.73
11,NaN,2013-12,NaN,899000.0,3.321033,5.754717,213.0,NaN,180.0,22.39
12,NaN,2014-01,NaN,935000.0,4.428044,5.445962,222.0,NaN,159.0,22.15
13,NaN,2014-02,NaN,925000.0,6.766917,3.849673,202.0,NaN,166.0,22.35
14,NaN,2014-03,43.0,875000.0,6.574394,4.215493,232.0,NaN,192.0,22.58
15,NaN,2014-04,39.0,879000.0,5.934718,4.149004,301.0,NaN,221.0,24.19
16,NaN,2014-05,49.0,899000.0,8.759124,4.003077,305.0,NaN,239.0,24.08
17,NaN,2014-06,45.0,875000.0,6.470588,4.285714,302.0,NaN,218.0,23.99
18,NaN,2014-07,40.0,897000.0,6.331878,4.008016,332.0,NaN,229.0,23.82
19,NaN,2014-08,74.0,885000.0,2.748414,7.915567,278.0,NaN,208.0,23.22
20,NaN,2014-09,53.0,949000.0,6.292135,4.160000,292.0,NaN,220.0,23.06
21,NaN,2014-10,49.0,965000.0,8.393285,5.055141,312.0,NaN,228.0,23.37
22,NaN,2014-11,23.0,1097500.0,5.502392,3.823773,294.0,NaN,202.0,23.41
23,NaN,2014-12,48.0,1050000.0,3.209877,3.243243,255.0,NaN,179.0,23.76
24,NaN,2015-01,39.0,1125000.0,4.184100,5.263158,224.0,NaN,170.0,24.22
25,NaN,2015-02,43.0,1150000.0,3.589744,4.871281,246.0,NaN,176.0,24.06
26,NaN,2015-03,49.0,1100000.0,4.964539,4.926168,257.0,NaN,190.0,24.37
27,NaN,2015-04,52.0,1150000.0,4.824561,3.713883,300.0,NaN,203.0,24.30
28,NaN,2015-05,33.0,1195000.0,5.422993,4.160000,273.0,NaN,211.0,24.79
29,NaN,2015-06,53.0,1197444.0,5.081301,4.109589,289.0,NaN,220.0,25.23
...,...,...,...,...,...,...,...,...,...,...
46,864900.0,2016-11,39.0,1349000.0,5.454545,4.285714,201.0,NaN,153.0,25.03
47,866600.0,2016-12,46.0,1300000.0,2.310231,3.460208,159.0,NaN,134.0,25.17
48,847800.0,2017-01,59.0,1295000.0,6.369427,5.563293,157.0,NaN,118.0,24.75
49,864600.0,2017-02,57.0,1297444.0,7.467532,3.898512,182.0,NaN,145.0,24.77
50,897900.0,2017-03,65.0,1347500.0,7.485030,3.267974,208.0,NaN,140.0,24.91
51,960400.0,2017-04,44.0,1391500.0,7.164179,3.853565,190.0,NaN,142.0,24.60
52,1032200.0,2017-05,67.0,1350000.0,7.065217,3.574629,209.0,NaN,150.0,25.48
53,1049400.0,2017-06,80.0,1285500.0,7.563025,3.849003,186.0,NaN,146.0,26.20
54,1118000.0,2017-07,86.0,1195000.0,7.602339,3.611258,183.0,NaN,144.0,26.33
55,1045200.0,2017-08,73.0,1192500.0,3.921569,4.569776,165.0,NaN,133.0,26.48
56,1007300.0,2017-09,68.0,1150000.0,8.823529,4.080000,190.0,NaN,142.0,26.11
57,922900.0,2017-10,63.0,1285500.0,10.857143,4.166667,238.0,NaN,189.0,27.75
58,936000.0,2017-11,58.0,1295000.0,8.284024,3.577818,221.0,NaN,177.0,27.47
59,915800.0,2017-12,92.0,1295000.0,3.858521,3.917051,172.0,NaN,139.0,27.57
60,894400.0,2018-01,54.0,1237500.0,6.148867,2.597403,180.0,NaN,133.0,27.32
61,908600.0,2018-02,65.0,1200000.0,5.176471,3.945647,258.0,NaN,159.0,27.00
62,902700.0,2018-03,66.0,1192000.0,7.189542,5.011196,217.0,NaN,166.0,26.49
63,996900.0,2018-04,50.0,1180000.0,7.792208,4.127296,251.0,NaN,194.0,26.44
64,1000800.0,2018-05,70.0,1195000.0,15.257732,3.658537,293.0,NaN,228.0,26.28
65,972400.0,2018-06,63.0,1224500.0,14.038877,3.279570,284.0,NaN,244.0,25.86
66,943400.0,2018-07,70.0,1294000.0,14.123007,4.086739,288.0,NaN,239.0,25.71
67,996900.0,2018-08,83.0,1250000.0,7.027027,3.799375,245.0,NaN,200.0,25.58
68,1083500.0,2018-09,62.0,1195000.0,14.659686,3.511645,244.0,NaN,206.0,25.36
69,1129000.0,2018-10,44.0,1099999.0,15.762274,3.851852,285.0,NaN,225.0,25.25
70,1036600.0,2018-11,63.0,1050000.0,11.956522,3.930607,261.0,NaN,223.0,24.98
71,930200.0,2018-12,49.0,1075000.0,6.707317,5.116034,214.0,NaN,190.0,24.66
72,890700.0,2019-01,75.0,1075000.0,12.012012,4.645607,226.0,NaN,177.0,24.00
73,888100.0,2019-02,31.0,1167725.0,9.785933,3.948052,224.0,NaN,188.0,22.98
74,1041900.0,2019-03,47.0,1290000.0,11.538462,3.636364,271.0,NaN,228.0,22.44
75,1045700.0,2019-04,54.0,1250000.0,16.353887,4.192676,306.0,76.0,248.0,22.41

In [153]:
#prepare_df_for_zip(94107,median_daily_listings_nsa_allhomes_data)

In [145]:
#sale_price_data.join(sale_counts_data, on='RegionName', lsuffix='_sale_price', rsuffix='_sale_count')

### New York Test

In [150]:
ny_sales_data = prepare_df_for_zip(10025, percent_listings_price_reductions_data)

/Users/philglazer/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [151]:
ny_sales_data

                 0     Date
2013-01   4.140127  2013-01
2013-02   3.738318  2013-02
2013-03   5.820106  2013-03
2013-04   5.614973  2013-04
2013-05   5.633803  2013-05
2013-06   4.307692  2013-06
2013-07   5.208333  2013-07
2013-08   2.500000  2013-08
2013-09   8.823529  2013-09
2013-10  11.934156  2013-10
2013-11   7.868852  2013-11
2013-12   3.321033  2013-12
2014-01   4.428044  2014-01
2014-02   6.766917  2014-02
2014-03   6.574394  2014-03
2014-04   5.934718  2014-04
2014-05   8.759124  2014-05
2014-06   6.470588  2014-06
2014-07   6.331878  2014-07
2014-08   2.748414  2014-08
2014-09   6.292135  2014-09
2014-10   8.393285  2014-10
2014-11   5.502392  2014-11
2014-12   3.209877  2014-12
2015-01   4.184100  2015-01
2015-02   3.589744  2015-02
2015-03   4.964539  2015-03
2015-04   4.824561  2015-04
2015-05   5.422993  2015-05
2015-06   5.081301  2015-06
...            ...      ...
2016-11   5.454545  2016-11
2016-12   2.310231  2016-12
2017-01   6.369427  2017-01
2017-02   7.467532  2017-02
2017-03   7.485030  2017-03
2017-04   7.164179  2017-04
2017-05   7.065217  2017-05
2017-06   7.563025  2017-06
2017-07   7.602339  2017-07
2017-08   3.921569  2017-08
2017-09   8.823529  2017-09
2017-10  10.857143  2017-10
2017-11   8.284024  2017-11
2017-12   3.858521  2017-12
2018-01   6.148867  2018-01
2018-02   5.176471  2018-02
2018-03   7.189542  2018-03
2018-04   7.792208  2018-04
2018-05  15.257732  2018-05
2018-06  14.038877  2018-06
2018-07  14.123007  2018-07
2018-08   7.027027  2018-08
2018-09  14.659686  2018-09
2018-10  15.762274  2018-10
2018-11  11.956522  2018-11
2018-12   6.707317  2018-12
2019-01  12.012012  2019-01
2019-02   9.785933  2019-02
2019-03  11.538462  2019-03
2019-04  16.353887  2019-04

[76 rows x 2 columns]

In [83]:
ny_median_listing_price_data = prepare_df_for_zip(10025, median_listing_price_data)

In [85]:
ny_median_listing_price_data

,RegionName,City,State,Metro,CountyName,SizeRank,2010-01,2010-02,2010-03,2010-04,...,2018-07,2018-08,2018-09,2018-10,2018-11,2018-12,2019-01,2019-02,2019-03,2019-04
0,10025,New York,NY,New York-Newark-Jersey City,New York County,1,775000.0,775000.0,799000.0,749000.0,...,1294000.0,1250000.0,1195000.0,1099999.0,1050000.0,1075000.0,1075000.0,1167725.0,1290000.0,1250000.0

In [84]:
ny_sales_data.join(ny_median_listing_price_data)

ValueError: columns overlap but no suffix specified: Index(['RegionName', 'SizeRank', '2010-01', '2010-02', '2010-03', '2010-04',
       '2010-05', '2010-06', '2010-07', '2010-08',
       ...
       '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12',
       '2019-01', '2019-02', '2019-03', '2019-04'],
      dtype='object', length=114)